<%= simple_form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :released_on %>
  <%= f.input :rating %>
  <%= f.input :discontinued %>
  <%= f.association :publisher %>
  <%= f.association :categories %>
  <%= f.button :submit %>

<% end %>
